@import 'src/_mixins.scss';

.resume-header {
  padding: $size-3 $size-3 $size-3;
  flex: 2;
  max-width: 400px;
  display: flex;
  overflow: auto;
  height: 100%;

  @include media('<desktop') {
    height: 90%;
  }

  @include media('<tablet') {
    max-width: unset;
  }

  h1,
  h2 {
    font-weight: bold;
    line-height: 0.82em;
    letter-spacing: -0.08em;
    color: $highlight;
  }

  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 24px;
    text-align: right;
  }

  p {
    margin: 2rem 0;
    line-height: 1em;
    color: $sublight;

    @include media('<=tablet') {
      margin: 1rem 0;
      font-size: 16px;
    }
  }

  a {
    span {
      text-decoration: underline;
    }
  }
}

.resume-header-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
