$primary: #999;
$compliment: #ffdc00;
$compliment: orange;
$highlight: limegreen;

@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import 'bulma/bulma.sass';

$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1300px,
);

@import 'include-media/dist/_include-media.scss';

body {
  //font-family: Bitter;
}
