$primary: #999;
$compliment: #ffdc00;
$compliment: orange;
$highlight: limegreen;

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Roboto+Mono&display=swap');
@import 'bulma/bulma.sass';

$breakpoints: (
  phone: 400px,
  tablet: 900px,
  desktop: 1300px,
);

@import 'include-media/dist/_include-media.scss';

body {
  //font-family: Bitter;
}

$primary: #bcece0;
$compliment: #36eee0;
$highlight: #f652a0;
$sublight: #4c5270;
